# Dependencies
node_modules/
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Testing
/frontend/coverage

# Production
/frontend/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binary, built with `go test -c`
*.test

# Go output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
backend/saved_words.json
